name: Test HSCP Analyzer
on: [push,pull_request]
jobs:
  Test-HSCP-Analyzer:
    runs-on: self-hosted
    steps:
      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Move SUSYBSMAnalysis under CMSSW
        working-directory: /afs/cern.ch/work/t/tvami/public/HSCP/GithubCI/actions-runner/_work/CMSSW_10_6_30/src/
        run: |
          cp -r /afs/cern.ch/work/t/tvami/public/HSCP/GithubCI/actions-runner/_work/SUSYBSMAnalysis-HSCP/SUSYBSMAnalysis-HSCP .
          mv SUSYBSMAnalysis-HSCP SUSYBSMAnalysis
      - name: Compile the code
        working-directory: /afs/cern.ch/work/t/tvami/public/HSCP/GithubCI/actions-runner/_work/CMSSW_10_6_30/src/
        run: |
          scram b -j
      - name: Source enviroment, run the code (next step)
        working-directory: /afs/cern.ch/work/t/tvami/public/HSCP/GithubCI/actions-runner/_work/CMSSW_10_6_30/src/
        run: |
          eval `scramv1 runtime -csh` 
      - name: Cleaning up
        working-directory: /afs/cern.ch/work/t/tvami/public/HSCP/GithubCI/actions-runner/_work/CMSSW_10_6_30/src/
        run: |
          ls
          rm -rf SUSYBSMAnalysis
          ls
          scram b clear
          scram b clean
